{% extends 'layout.html.twig' %}

{% block content %}
    <section>
    <h1>Resa</h1>
        <h1>-- {{ cinemashow[0].title }} --</h1>
        <p>-- {{ cinemashow[0].description }} --</p>
        <p>-- {{ cinemashow[0].duration }} minutes--</p>
        <p>-- {{ cinemashow[0].durationStart }} h--</p>
    </section>
    <section>
        {% for cs in cinemashow %}
            <ul>
                <li>{{ cs.startDate }}</li>
                <li>{{ cs.endDate }}</li>
                <li>{{ cs.seatAvaible }}</li>
                <li>{{ cs.price }}</li>
                <li>{{ cs.id_room }}</li>
            </ul>
        {% endfor %}
    </section>
{% endblock %}
