{% extends 'layout.html.twig' %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="/">Home</a>
                    <span>Inscription</span>
                </div>
                <div class="content">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-4 d-flex flex-column">
                            <h2>INSCRIPTION</h2>

                            <form class="contact-form" method="post" accept-charset="UTF-8">
                                <!-- FirstName input -->
                                <div class="input-group mb-3 flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-user" style="color: #9198AF;"></i>
                                    </span>
                                    <input type="text" id="firstname" name="firstname" class="form-control mb-0"
                                           placeholder="Prénom..."
                                           aria-label="Username" aria-describedby="basic-addon1"/>
                                </div>
                                {% if error.firstname is not empty %}
                                    <p style="color: red">{{ error['firstname'] }}</p>
                                {% endif %}

                                <!-- lastname input -->

                                <div class="input-group mb-3 flex-nowrap">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-user" style="color: #9198AF;"></i>
                                </span>
                                    <input type="text" id="lastname" name="lastname" class="form-control mb-0"
                                           placeholder="Nom..." aria-label="Username"
                                           aria-describedby="basic-addon1"/>
                                </div>
                                {% if error.lastname is not empty %}
                                    <p style="color: red">{{ error['lastname'] }}</p>
                                {% endif %}


                                <!-- Email input -->

                                <div class="input-group mb-3 flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-envelope" style="color: #9198AF;"></i>
                                    </span>
                                    <input type="email" id="email" name="email" class="form-control mb-0"
                                           placeholder="Email..." aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                {% if error.email is not empty %}
                                    <p style="color: red">{{ error['email'] }}</p>
                                {% endif %}


                                <!-- birthdate input -->
                                <div class="input-group mb-3 flex-nowrap">
                                <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-cake-candles" style="color: #9198AF;"></i>
                                </span>
                                    <input type="date" id="birthday" name="birthday" class="form-control mb-0"
                                           placeholder="Date de naissance..."
                                           aria-label="Username" aria-describedby="basic-addon1"/>
                                </div>
                                {% if error.birthday is not empty %}
                                    <p style="color: red">{{ error['birthday'] }}</p>
                                {% endif %}

                                <!-- Password input -->
                                <div class="input-group mb-3 flex-nowrap">
                                <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-cake-candles" style="color: #9198AF;"></i>
                                </span>
                                    <input type="password" id="password" name="password" class="form-control mb-0"
                                           placeholder="Mot de passe"
                                           aria-label="Username" aria-describedby="basic-addon1"/>
                                </div>
                                {% if error.password is not empty %}
                                    <p style="color: red">{{ error['password'] }}</p>
                                {% endif %}

                                <!-- Submit button -->

                                <button type="submit" class="btn btn-outline-warning d-grid gap-2 col-6 mx-auto">S'INSCRIRE</button>

                                    <!-- Checkbox for general condition -->

                                   <!-- <div class="form-group">
                                        {% if accepte-conditions %}
                                        <input type="checkbox" id="accepte-conditions" name="accepter_conditions" required>
                                        <label for="accepter_conditions">J'accepte les <a href="#" target="_blank">conditions générales d'utilisation</a></label>
                                        {% endif %}
                                    </div>
                                        -->


                                <div>
                                    {% if accepte-conditions %}
                                    <input type="checkbox" id="accepte-conditions" name="accepter-conditions" required />
                                    <label for="accepter-conditions">Conditions générales d'utilisation</label>
                                    {% endif %}
                                </div>


                                <div>
                                    {% if accepte-confidentiality %}
                                    <input type="checkbox" id="accepte-confidentiality" name="accepter-confidentialité"  required/>
                                    <label for="horns">Conditions générales de confidentialité</label>
                                    {% endif %}
                                </div>


                            </form>

                            <h6>Vous avez déjà un compte <a class="DG-color-yellow" href="/user/login"> connectez vous !</a></h6>
                        </div>
                        <div class="col-md-7 col-md-offset-1 d-flex align-items-center">
                            <img src="/assets/images/movie.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
